* {
    background-color: ;
}

h1 {
    text-align: center;
    color: ;
}

ul {
   color: aquamarine;
   list-style: none;
   display: flex;
   flex-direction: center;
   justify-content: space-evenly;
   flex-wrap: wrap; 
}

h2 {
    /* text-decoration: underline; */
    
}


.section-title {
    border-bottom: solid 5px orange;
}

.header-profile {
    display: flex;
    flex-direction: column;
}

.header-profile header {
    width: 100%;
}

.profile-picture {
    width: 10%;
    border-radius: 50%;

}

.meeting-picture {
    width: 50%;
}


.led, .calculator, #Resume, .run-buddy, #Contact-Me {
    border-bottom: solid 3px orange;
    border-top: solid 3px orange;

}


.jumbotron {
    border: solid 3px orange;
    width: 100%;
    height: 300px;
}

#Contact-Me {
    text-decoration: underline;
    border-bottom: none;

}

@media screen and (min-width: 560px){
    .header-profile {
        flex-direction: row;
    }
}