* {
    background-color: orange;
}

h1 {
    text-align: center;
    color: darkblue;
}

ul {
   color: aquamarine;
   list-style: none;
   display: flex;
   flex-direction: center;
   justify-content: space-evenly;
   flex-wrap: wrap; 
}

h2 {
    /* text-decoration: underline; */
    color: darkblue;
}

h5, h6 {
    border: ;
}

section {
    border: aquamarine;
}

.section-title {
    border-bottom: solid 5px red;
}

.header-profile {
    display: flex;
    flex-direction: column;
}

.header-profile header {
    width: 100%;
}

.profile-picture {
    width: 25%;
    border-radius: 50%;

}
.led, .calculator, .pastel-puzzels, .run-buddy, .contact-me {
    border-bottom: solid 5px red;
    border-top: solid 5px red;
}


.jumbotron {
    margin: 0 10%;
    border: solid 3px red;
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 560px){
    .header-profile {
        flex-direction: row;
    }
}